* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-image: url("Assets/header_img.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.9;
}

.main-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.main-text>h1 {
    font-size: 8rem;
}

.fa-plus {
    color: #000;
    font-size: 0.8em;
    background-color: white;
    border-radius: 50%;
    padding: 0.5em;
    margin: 0.5em;
}

.fa-microchip {
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 1%;
    left: 1%;
}

.fa-microchip+span {
    color: white;
    font-weight: bold;
    float: right;
}

.fa-bars {
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 34%;
    left: 1%;
}

#follow_us {
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    position: absolute;
    top: 64%;
    left: -0.9%;
    transform: rotate(-90deg);
}

.fa-bars-staggered {
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 95%;
    left: 1%;
}
@media screen and (max-width:425px) {
    .main-text>h1 {
        font-size: 4rem;
    }

    .main .fa-solid {
        font-size: 1rem;
    }
    #follow_us{
        font-size: 0.5em;
        left: -3%;
    }
}
@media screen and (max-width:768px){
    #follow_us{
        left: -3%;
    }
}


/* -------------------  #About Section CSS   ------------- */


#about{
    height: auto;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
} 
#about_info{
    margin: 0 10%;
}
#about_info h1 {
    font-size: 5rem;
    padding: 5% 9% 3% 0;
}
#about_info p{
    padding: 0 7% 4% 0;
}
#offers{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25%;
    margin-right: 10%;
}
.course h2{
    font-size: 5rem;
    opacity: 0.1;
}
.course h3{
    margin-top: -8%;
    margin-bottom: 5%;
}

@media screen and (max-width:768px){
    #about_info h1{
        font-size: 3rem;
    }
    .course h2{
        font-size: 3rem;
    }
    .course h3{
        font-size: 1rem;
        margin-top: -9%;
    }
    .course p{
        font-size: 0.7rem;
    }
    
}
@media screen and (max-width:425px){
    #about_info h1{
        font-size: 1rem;
    }
    #about_info p{
        font-size: 0.5rem;
    }
    #offers{
        display: flex;
        flex-wrap: wrap;
    }
    .course h3{
        margin-top: -6%;
        margin-bottom: 3%;
    }
    .course p{
        padding: 15%;
    }
}

/* ----------  #Body Section CSS  ----------- */

#body{
    background-color: #000000b0;
    height: 200%;
    width: 100%;
    box-sizing: border-box;
}

#body img {
    height:20%;
    width:80%;
    object-fit: cover;
    margin:-10% 10% 0 10%;
}

#coundown {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin:5% 15% ;
    text-align: center;
}

#coundown div>h1 {
    font-size: 5rem;
    color: #fff;
}

#coundown div p {
    color: #fff;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

#coundown div hr {
    opacity: 0.2;
    margin-bottom: 1.2rem;
    width: 100%;
}

#coundown div h3 {
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
}

#coundown+h1 {
    margin:0 20%;
    padding: 5%;
    text-align: center;
    color: #fff;
    font-size: 4rem;
}

#learnings {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
    color: #fff;
    padding: 1rem 1rem 5rem 1rem;
}

.learn_ui {
    background-color: #000;
    margin: 0 0.5rem;
    box-shadow: 10px 10px 15px #000;
}

.learn i {
    font-size: 3rem;
    margin: 3rem 1.5rem;
}

.learn h2 {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.learn p {
    padding: 1.5rem;
    margin: 0 2rem 3rem 2rem;
    line-height: 1.5rem;
    opacity: 0.7;
}
@media screen and (max-width:768px) {
    #learnings{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:425px){
    #coundown div{
        margin-bottom: 15%;
    } 
    #coundown+h1 {
        font-size: 2rem;
    }
    #learnings .learn p{
        font-size: 0.7rem;
    }
    #learnings .learn i {
        font-size: 2rem;
        margin: 2rem 1.5rem;
    }
    #learnings .learn h2 {
        margin-bottom: 0.5rem; 
    }
    #learnings .learn p{
        padding: 1rem;
    }
}
@media screen and (max-width:320px){
    #coundown {
        display: block;
    }
    #coundown div{
        margin-bottom: 15%;
    }
}

/* -------------   Managing Details  ------------- */

#managing{
    height: auto;
    width: 100%;
    background-color: #000;
    color: #fff;
}
.managing_info{
    height: auto;
    margin:0 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#author{
    display: flex;
    width: 100%;
}
#profile_pic{
    width: 35px;
    height: 50px;
    object-fit: cover;
    border-radius: 45%;
}
.profile{
    background-color:#6cfc6c ;
    padding: 5% 15% 5% 5%;
    margin: -5% 5% 0 0 ;
    width: 50%;
}
.profile+div{
    width: 50%;
}
.profile+div h1{
    font-size: 3rem;
    padding: 5%;
}

#team{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10% 0 ;
}
.team_text{
    width: 50%;
}
.team_text>h1{
    font-size: 3rem;
}
.team_goal{
    width: 50%;
    padding:  0  0 0 5% ;
}

@media screen and (max-width:425px){
    #author,#team{
        display: flex;
        flex-direction: column;
    }
    .profile,.profile+div{
        width: 100%;
    }
    #author .profile>p{
        font-size: 1rem;
    }
    .profile+div h1{
        font-size: 2rem;
    }
    #team{
        margin: 10% 0;
    }
    .team_text{
        width: 100%;
    }
    .team_text>h1{
        font-size: 2rem;
        padding: 5%;
    }
    .team_goal{  
        width: 100%;
        padding:0 0 0 5%;
    }
    #team .team_goal p{
        font-size: 1rem;
    }
}

/* ------------   PARTNERSHIPS   ------------ */

#partnership {
    height: auto;
    width: 100%;
}
.partners_profile{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin: -5% 10% 0 10%;
}
.partners_profile img{
    width: 100%;
}
.gallery h4{
    padding: 2% 0;
    font-size: 1rem;
    font-weight: bold;
}
.gallery h4+p{
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0.5;
    padding: 2% 0;
}
#agencies{
    margin:0 10% ;
    display: flex;
    justify-content: space-between;
}
#agencies .agensy_text{
    font-size: 2rem;
    padding: 5% 20% 5% 0;
}
.companies{
    padding: 7% 5% 5% 0;

}
.companies table{
    border-collapse: collapse;
    
}
th{
    border: 1px solid #0000000a;
    text-align: center;
    padding: 1.5rem;
    width: 5rem;
}

@media screen and (max-width:768px){
    .partners_profile{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin: -4% 10% 0 10%;
    }
    .gallery{
        padding: 5%;
        width: 45%;
    }
    .partners_profile img{
        width: 50%;
    }
    .partners_profile img{
        width: 100%;
    }
    .gallery h4{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .gallery h4+p{
        padding: 2%;
        font-weight: bold;
        opacity: 0.5;
    }
    #agencies{
        display: block;
        
    }
    #agencies .agensy_text{
        font-size: 1.5rem;
        padding: 0;
    }
    th{
        padding: 2rem 5rem;
    }
}
@media screen and (max-width:425px){
    .partners_profile{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }
    .gallery{
        width: 100%;
        text-align: center;
    }
    .gallery h4{
        font-size: 2rem;
        font-weight: bold;
    }
    .gallery h4+p{
        font-size: 1rem;
        padding: 2%;
        font-weight: bold;
        opacity: 0.5;
    }
    #agencies{
        display: block;
        text-align: center;
    }
    #agencies .agensy_text{
        font-size: 1rem;
        padding: 0;
    }.companies{
        text-align: center;
    }

    th{
        padding: 1.5rem;
    }

}
@media screen and (max-width:320px){
    th{
        padding: 1rem;
    }
}
/* ---------------Footer CSS----------- */

#footer {
    height: auto;
    width: 100%;
    background-color: #000000bb;
    color: #fff;
    box-sizing: border-box;
}

#footer_info {
    margin: 0 10%;
}

#footer_info h1 {
    padding: 5% 0 2% 0;
}

#footer_info h1>span {
    float: right;
}

#footer_info h1 span {
    font-size: 1rem !important;
    margin-top: 0.5rem;
}

#footer_info p:first-of-type {
    font-size: 4rem;
    opacity: 0.5;
}

#footer_info h5 {
    margin: 3% 0 4% 0;
}

#footer_info h5 {
    border-bottom: 1px solid #6cfc6c;
    display: inline-block;
}

#footer_info hr {
    margin: 2% 0 5% 0;
    opacity: 0.1;
}

p:nth-child(5) {
    font-size: 0.7rem;
    padding-bottom: 2rem;
}

#footer_info p>span {
    float: right;
}

@media screen and (max-width:768px) {
    #footer_info h1 {
        font-size: 1.8rem;
    }

    #footer_info p:first-of-type {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:425px) {
    p:nth-child(5) {
        font-size: 0.5rem;
    }

    #footer_info h1 {
        font-size: 1rem;
    }

    p:first-of-type {
        font-size: 2rem;
    }
}